<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Ce site à été crée par Corentin. Il utilise des données de <a class="linkSite" href="https://mapbox.com">mapbox.com</a> et de <a class="linkSite" href="https://darksky.net">darksky.net</a>.</p>
            <img class="portrait" src="img/pp.jpg" alt="">
        </div>

        {{>footer}}
    </body>
</html> 